@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

#bgChange {
  position: absolute;
  background-color: #333;
  font-size: 1.4rem;
  width: 70px;
  height: 28px;
  border-radius: 2rem;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  bottom: 0;
  transition: 0.3s ease;
  border: none;
}

#bgChange.active {
  background-color: #fff;
}

.ball {
  position: relative;
  top: -3px;
  width: 18px;
  height: 18px;
  left: -1px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  transition: 0.5s ease;
}

.ball.active {
  background-color: #333;
  left: 40px;
}

.btnLight {
  border: 1px solid #222;
}

.bg-div,
.bg-div-2,
.bg-div-3,
.bg-div-4 {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  filter: blur(100px);
  transition: 0.3s ease;
}

.bg-div {
  background-color: rgba(90, 116, 230, 0.4235294118);
  width: 65rem;
  height: 65rem;
  right: -20rem;
  top: -20rem;
}

.bg-div-2 {
  background-color: rgba(116, 198, 230, 0.4666666667);
  width: 100%;
  height: 100%;
  left: -20rem;
  top: -10rem;
}

.bg-div-3 {
  background-color: rgba(223, 76, 236, 0.1019607843);
  bottom: 0;
  width: 75rem;
  height: 75rem;
  left: -10rem;
  bottom: -40rem;
}

.bg-div-4 {
  background-color: rgba(59, 120, 233, 0.3843137255);
  bottom: 0;
  width: 75rem;
  height: 75rem;
  right: -10rem;
  bottom: -40rem;
}

.bg-div.dark {
  background-color: rgba(14, 7, 32, 0.8470588235);
}

.bg-div-2.dark {
  background-color: rgba(40, 40, 80, 0.937254902);
}

.bg-div-3.dark {
  background-color: rgba(24, 14, 68, 0.7960784314);
}

.bg-div-4.dark {
  background-color: rgba(18, 23, 87, 0.7882352941);
}

@media screen and (max-width: 420px) {
  .bg-div,
  .bg-div-2,
  .bg-div-3,
  .bg-div-4 {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    filter: blur(60px);
    transition: 0.3s ease;
  }
  .bg-div {
    width: 90vw;
    height: 70vh;
    right: -6rem;
    top: -4rem;
    background-color: rgba(182, 181, 235, 0.7607843137);
  }
  .bg-div-2 {
    width: 70vw;
    height: 90vh;
    left: -5rem;
    top: -8rem;
    background-color: #99d1e7;
  }
  .bg-div-3 {
    width: 80vw;
    height: 70vh;
    left: -5rem;
    bottom: -9rem;
    background-color: rgba(186, 81, 255, 0.231372549);
  }
  .bg-div-4 {
    width: 70vw;
    height: 70vh;
    right: -4rem;
    bottom: -10rem;
    background-color: rgba(58, 95, 175, 0.3019607843);
  }
  .bg-div.dark {
    background-color: rgba(40, 18, 94, 0.6235294118);
  }
  .bg-div-2.dark {
    background-color: rgba(8, 16, 61, 0.8274509804);
  }
  .bg-div-3.dark {
    background-color: rgba(7, 5, 104, 0.7058823529);
  }
  .bg-div-4.dark {
    background-color: rgba(22, 42, 97, 0.8705882353);
  }
}
.toaster-empty,
.toaster-todo-exists {
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
  top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.4s ease;
}

.toaster-empty {
  left: calc(50% - 187.265px);
}

.toaster-todo-exists {
  left: calc(50% - 103.15px);
}

.toaster-empty.active,
.toaster-todo-exists.active {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.toaster-empty.remove,
.toaster-todo-exists.remove {
  visibility: hidden;
  transform: translateY(-100%);
  opacity: 0;
}

@media screen and (max-width: 430px) {
  .toaster-empty {
    top: 4.5rem;
    padding: 0.5rem;
    left: calc(50% - 179.265px);
  }
  .toaster-todo-exists {
    top: 4.5rem;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-container {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 6px 5px 28px -8px rgba(0, 0, 0, 0.41);
  padding: 1.2rem 2rem;
}

.todo-logo {
  display: flex;
  align-items: center;
  gap: 15rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #e0e0e0;
}
.todo-logo .todo-logo-title {
  font-weight: 300;
}

.todo-image {
  display: flex;
  gap: 1rem;
}
.todo-image .todo-date {
  display: flex;
  flex-direction: column;
}
.todo-image .todo-date-day {
  align-self: flex-end;
  font-weight: 500;
}

@media screen and (max-width: 430px) {
  .todo-container {
    padding: 0.85rem;
    width: 90svw;
  }
  .todo-logo {
    gap: 4rem;
    justify-content: space-between;
  }
  .todo-logo .todo-logo-title {
    font-weight: 300;
    font-size: 1.5rem;
  }
  .day,
  .month,
  .year {
    font-size: 1rem;
  }
  .calendar-img {
    width: 2rem;
  }
}
.todo-form {
  display: flex;
  margin-top: 1rem;
}

form {
  width: 100%;
}

#todo-input {
  background-color: #ececec;
  border: none;
  outline: none;
  width: 95%;
  padding: 0.75rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  color: rgba(68, 68, 68, 0.9333333333);
}
#todo-input::placeholder {
  font-size: 1rem;
}

#addTodo {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: rgba(68, 68, 238, 0.8);
  padding: 0rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  transition: 0.2s ease;
}
#addTodo:hover {
  background-color: rgba(68, 68, 238, 0.9333333333);
}
#addTodo:active {
  position: relative;
  top: 2px;
}

.todos-created.active {
  margin-top: 2.5rem;
  transition: 0.2s ease;
}

.todos-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.65rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.431372549);
}

.left-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-item input {
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #949e94;
  background: transparent;
  cursor: pointer;
}

.left-item input:checked + span {
  color: #949e94;
  text-decoration: line-through;
  font-style: italic;
  transition: 0.4s ease;
}

.left-item input:checked {
  background: rgba(68, 68, 238, 0.9333333333);
  border: 2px solid transparent;
}

.left-item input:checked::before {
  content: "✔";
  font-size: 1.1rem;
  color: #fff;
  position: absolute;
  top: -5px;
}

.todo-title {
  font-size: 1.3rem;
  transition: 0.4s ease;
}

#delete-todo {
  border: none;
  cursor: pointer;
  background: rgba(204, 27, 27, 0.8);
  color: #fff;
  padding: 0.85rem;
  border-radius: 0.2rem;
  transition: 0.2s ease;
}

#delete-todo:hover {
  background: #cc1b1b;
}

/*# sourceMappingURL=style.css.map */
