//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(../assets/vivid-blurred-colorful-background.jpg) no-repeat
    fixed center center/cover;
  transition: 0.3s ease;
  // background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) no-repeat fixed;
}

#bgChange {
  position: absolute;
  background-color: transparent;
  font-size: 1.4rem;
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  right: 2rem;
  top: 2rem;
  bottom: 0;
}

.bgDark {
  background: url(../assets/desktop-bg.jpg) no-repeat fixed center center/cover;
}

.btnLight {
  border: 1px solid #222;
}

.notification-container {
  position: absolute;
  text-align: center;
  width: 400px;
  padding: 0.6rem;
  bottom: 15rem;
  border-radius: 0.2rem;
  left: calc(50% - (400px / 2));
  background-color: #fff;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.3s ease;
}

.notification-container.active {
  transform: translateY(0);
  opacity: 1;
}

.notification-container.remove {
  transform: translateY(-100%);
  opacity: 0;
}

@media screen and (max-width: 420px) {
  body {
    background: url(../assets/vivid-blurred-colorful-background.jpg) no-repeat
      fixed center center/cover;
  }

  #bgChange {
    top: 28em;
  }

  .notification-container {
    bottom: 8rem;
    width: 95vw;
    left: calc(50% - (95vw / 2));
  }
}
